<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="utf-8">
    <title>Update Property</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h4>Update Property</h4>
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{'/properties/update/' + ${property.getId()}}" th:object="${property}"
                          method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="house">Select house</label>
                            <select class="form-control" id="house" th:field="*{houseId}">
                                <option th:each="house : ${houses}"
                                        th:value="${house.getId()}"
                                        th:text="${house.getId()}">
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="owner">Select owner</label>
                            <select class="form-control" id="owner" th:field="*{ownerId}">
                                <option th:each="owner : ${owners}"
                                        th:value="${owner.getId()}"
                                        th:text="${owner.getEmail()}">
                                </option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>