<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{fragments/admin_layout}">
<head>
    <meta charset="utf-8">
    <title>Post editor</title>
</head>
<body>

<div layout:fragment="admin_content">
    <div class="card" id="card-body-post-creation">
        <div class="card-body" id="card-body-user-create-post">
            <h5 class="card-title">Edit post</h5>
            <hr>
            <form action="#" th:action="@{'/admin/post='+ ${post.getId()} + '/edit'}" th:object="${post}"
                  method="post" enctype="multipart/form-data">
                <div class="form-group" >
                    <label for="headerPicturePostCreate">Header Picture</label>
                    <p></p>
                    <input type="text" class="form-control" id="headerPicturePostCreate" aria-describedby="headerPicturePostCreate"
                           th:placeholder="${post.getHeaderPic()}"  th:field="*{headerPic}">
                </div>
                <p></p>
                <div class="form-group">
                    <label for="titlePostCreate">Title</label>
                    <p></p>
                    <input type="text" class="form-control" id="titlePostCreate" aria-describedby="titlePostCreate"
                           th:placeholder="${post.getTitle()}" th:field="*{title}">
                </div>
                <p></p>
                <div class="form-group" id="form-post">
                    <label for="text-area-post-create" id="label-post-create">Body</label>
                    <p></p>
                    <textarea class="form-control" id="text-area-post-create" rows="14"
                              th:field="*{body}" th:placeholder="${post.getBody()}"></textarea>
                </div>
                <p></p>

                <button type="submit" class="btn btn-dark" id="user-edit-profile-submit">Finish editing</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>