<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="utf-8">
    <title>Update Account</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-12">
            <div class="card mt-2">
                <div class="card-header">
                    <h4>Update Account</h4>
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{'/clients/client/' + ${client.getId()} + '/update/account/' + ${account.getId()}}" th:object="${account}"
                          method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="accountNumber">Account number</label>
                            <input type="text" class="form-control" id="accountNumber" aria-describedby="accountNumber"
                                   placeholder="Enter account number" th:field="*{accountNumber}">
                        </div>
                        <div class="form-group">
                            <label for="balance">Balance</label>
                            <input type="text" class="form-control" id="balance" aria-describedby="balance"
                                   placeholder="Enter balance" th:field="*{balance}">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>