<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{fragments/admin_layout}">
<head>
    <meta charset="utf-8">
    <title>You comments</title>
</head>

<body id="posts-open" style="padding-top: 0">

<div layout:fragment="admin_content" id="fragment-posts-main" style="padding-top: 50px">
    <div class="card-group" id="card-group-main" th:if="${!comments.isEmpty() and comments!=null}">
        <div class="card" id="comment-card-user" th:each="comment : ${comments}">
            <div class="rows" id="rows-comments-all">
                <div class="rows" id="user-rows-comments-all">
                    <img class="cols" id="user-pic-comments-all"
                         th:src="@{${user.getProfilePic()}}">
                    <div class="cols" id="user-comments-row-all">
                        <a class="cols" id="comment-user-on" th:text="${user.getUsername()}"
                           th:href="@{'/admin/profile/' + ${user.getUsername()} + '/posts'}"></a>
                        <div class="cols" id="title" th:text="' commented on '"></div>
                        <a class="cols" id="post-by-title" th:text="${commentFacade.findPostByCommentId(comment.getId).getTitle()}"
                           th:href="@{'/admin/open/posts/' + ${commentFacade.findPostByCommentId(comment.getId).getId()} + '/comments'}"></a>
                        <div class="cols" id="on" th:text="' [' + ${comment.getCreated()} + ']'"></div>
                    </div>
                </div>
                <div class="rows" id="comment-body-all" th:text="${comment.getBody()}"></div>
            </div>
            <div class="row">
                <div class="column" id="read-full-open">
                    <a class="btn btn-primary" id="read-open-button"
                       th:href="@{'/admin/open/posts/' + ${commentFacade.findPostByCommentId(comment.getId).getId()} + '/comments'}"
                       type="button">
                        <i class="fa fa-align-justify" aria-hidden="true"></i>
                        Read post
                    </a>
                </div>
                <div class="column" id="divider-personal-comments"></div>
                <div class="column" id="delete-post">
                    <a class="btn btn-primary" id="delete-post-button"
                       th:href="@{'/admin/comment=' + ${comment.getId()} + '/delete'}"
                       type="button">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        Delete comment
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card" th:if="${comments.isEmpty() or comments.equals(null)}" id="no-posts">
        <div id="no-posts-span">
            <i class="fa fa-frown-o" id="sad-face" aria-hidden="true"></i>
            <span th:text="'No comments yet?'" id="no-posts-message"></span>
            <p></p>
            <span th:text="'You can practice on these'" id="no-posts-message2"></span>
            <a class="btn btn-primary" id="create-post-button"
               th:href="@{'/admin/open/posts'}"
               type="button">
                <i class="fa fa-plus" aria-hidden="true"></i>
                posts
            </a>
        </div>
    </div>

    <div class="card" id="profile-reference">
        <div class="cols" style="text-align: center">
            <img class="cols" id="user-pic-reference"
                 th:src="@{${user.getProfilePic()}}"></div>
        <div class="cols" id="username-reference"
             th:text="${user.getUsername()}"></div>
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                aria-expanded="false" aria-controls="collapseOne" id="collapse-about-button">
            <i class="fa fa-exclamation-circle" id="exclamation-mark" aria-hidden="true"></i>
            <a th:text="'About me'"></a>
        </button>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="cols" id="hello-reference" th:text="'Hi! My name is...'"
                 th:if="${!user.getFirstName().isBlank() and !user.getFirstName().isEmpty()
                       and !user.getLastName().isBlank() and !user.getLastName().isEmpty()}"></div>
            <div class="cols" id="name-reference" th:text="${user.getFirstName() + ' ' + user.getLastName()}"
                 th:if="${!user.getFirstName().isBlank() and !user.getFirstName().isEmpty()
                       and !user.getLastName().isBlank() and !user.getLastName().isEmpty()}"></div>
            <div class="cols" id="lastName-reference" th:text="'I have created this account on...'"></div>
            <div class="cols" id="created-reference" th:text="${user.getCreated()}"></div>
            <div class="card-body" id="story-heading-reference" th:text="'Let me tell that I am...'"
                 th:if="${!user.getDescription().isBlank() and !user.getDescription().isEmpty()}"></div>
            <div class="card-body" id="story-reference" th:text="${user.getDescription()}"
                 th:if="${!user.getDescription().isBlank() and !user.getDescription().isEmpty()}"></div>
        </div>
        <a class="btn btn-primary" id="edit-profile-button-reference-menu"
           th:href="@{/admin/profile/edit}"
           type="button">
            <i class="fa fa-pencil-square" aria-hidden="true"></i>
            Edit profile
        </a>
        <a class="btn btn-primary" id="create-new-post-button-reference-menu"
           th:href="@{/admin/post/new}"
           type="button">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Create new post
        </a>
        <a class="btn btn-primary" id="my-posts-button-reference-menu"
           th:href="@{/admin/posts/personal}"
           type="button">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            My posts
        </a>
        <a class="btn btn-primary" id="my-comments-button-reference-menu"
           th:href="@{/admin/comments/personal}"
           type="button">
            <i class="fa fa-comment" aria-hidden="true"></i>
            My comments
        </a>
        <a class="btn btn-primary" id="manage-users-button-reference-menu"
           th:href="@{/admin/profile/manage/users}"
           type="button">
            <i class="fa fa-users" aria-hidden="true"></i>
            Manage users
        </a>
        <a class="btn btn-primary" id="manage-posts-button-reference-menu"
           th:href="@{/admin/profile/manage/posts}"
           type="button">
            <i class="fa fa-files-o" aria-hidden="true"></i>
            Manage community posts
        </a>
        <a class="btn btn-primary" id="manage-comments-button-reference-menu"
           th:href="@{/admin/profile/manage/comments}"
           type="button">
            <i class="fa fa-comments-o" aria-hidden="true"></i>
            Manage community comments
        </a>

        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseOne" id="collapse-statistic-button">
            <i class="fa fa-line-chart" aria-hidden="true"></i>
            <a th:text="'Stats'"></a>
        </button>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="rows" id="total-posts">
                <div class="cols" id="total-posts-text0"><i class="fa fa-file-text" aria-hidden="true"></i></div>
                <div class="cols"><a id="total-posts-text1" th:text="'Total posts '"></a></div>
                <div class="cols" id="total-posts-text2"></div>
                <div class="cols"><a id="total-posts-text3" th:text="${postFacade.findAllPostsByUserId(user.getId())}"></a></div>
            </div>
            <div class="rows" id="total-comments">
                <div class="cols" id="total-comments-text0"><i class="fa fa-commenting" aria-hidden="true"></i></div>
                <div class="cols"><a id="total-comments-text1" th:text="'Total comments '"></a></div>
                <div class="cols" id="total-comments-text2"></div>
                <div class="cols"><a id="total-comments-text3" th:text="${commentFacade.findAllCommentsByUserId(user.getId())}"></a></div>
            </div>
            <div class="rows" id="total-likes">
                <div class="cols" id="total-likes-text0"><i class="fa fa-thumbs-up" aria-hidden="true"></i></div>
                <div class="cols"><a id="total-likes-text1" th:text="'Total likes '"></a></div>
                <div class="cols" id="total-likes-text2"></div>
                <div class="cols"><a id="total-likes-text3" th:text="${opinionService.getTotalLikes(user.getId())}"></a></div>
            </div>
            <div class="rows" id="total-dislikes">
                <div class="cols" id="total-dislikes-text0"><i class="fa fa-thumbs-down" aria-hidden="true"></i></div>
                <div class="cols"><a id="total-dislikes-text1" th:text="'Total dislikes '"></a></div>
                <div class="cols" id="total-dislikes-text2"></div>
                <div class="cols"><a id="total-dislikes-text3" th:text="${opinionService.getTotalDislikes(user.getId())}"></a></div>
            </div>
            <div class="rows" id="total-rating">
                <div class="cols" id="total-rating-text0"><i class="fa fa-star" aria-hidden="true"></i></div>
                <div class="cols"><a id="total-rating-text1" th:text="'Total rating '"></a></div>
                <div class="cols" id="total-rating-text2"></div>
                <div class="cols"><a id="total-rating-text3" th:text="${opinionService.getTotalRating(user.getId())}"></a></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>